.landingpage {
    display: flex;//없으면 화면구성 이상해짐
    flex-direction: column;//없으면 뭔가 약간 이상해짐
    align-items: center;//없으면 화면구성 이상해짐
    //width: 100%;
    min-height: 77vh;
    overflow-y: hidden;//없으면 가장 오른쪽 스크롤바생김
    //overflow-x: auto;

    .alignment {
        position: relative;//없으면 verticalNowLine없어지고 이상해짐
    }
}
// .header-timeline {
//     display: flex;
//     width: 100%;

//     .channels {
//         display: flex;
//         justify-content: space-between;
//         width: 100%;
//         padding: 7px 0 7px 0;
//     }
// }

// #error {
//     margin-left: 25%;
//     width: 50%;
//     color: white;
//     background-color: coral;
// }
// #loader {
//     position: absolute;
//     margin-left: 25%;
//     width: 50%;
//     color: white;
//     background-color: coral;
//     font-size: 2rem;
//     text-align: center;
// }

/*@media all and (max-width: 320px) {
    .landingpage {
        height: 140vh;
        bottom: 10;
    }
}

@media all and (max-width: 420px) {
    .landingpage {
        min-height: 840px;
        bottom: 10;
    }
}*/