// #channels-container {
//   //max-height: 777px;//없어도 괜찮았음
// }

.channel-list {
  display: flex;//없으면 모든 시간표가 일렬로
  margin: 0;//없으면 그리드 사이간격 넓어지면서 이상해짐
  padding: 0;//없으면 채널스케쥴이 살짝 뒤로 가면서 시간표랑 안맞아짐 찾기어려웠음 주의할 것
}