.timeline-style {
  display: inline-flex;//없으면 화면이 채널사이드바 밑으로 내려감

  .verticalMarker {
    position: absolute;//없으면 verticalNowLine이 위로 겹치지 않고 자기공간 차지함
    width: 1.8px;
    height: 100%;//없으면 화면비율 줄이면 없어짐
    min-height: 886.5px;//////////화면비율 줄이면 작아지는 것 방지하기 위해 추가
    background-color: gold;
    //z-index: 2;
    //line-height: 1.4285em;
  }

  .time-hour {
    width: 600px;//없으면 젤 위 시간표 줄어듦
    padding: 20.5px 0 20.5px 0;//없으면 젤위 시간표가 위아래로 완전 짧아짐
    text-align: left;/////////////////center;
    //border: solid 1px rgb(45, 46, 47);
    border: 1px solid rgba(34,36,38,.15);
  }

  // @media all and (max-width: 320px) {
  //   .time-hour {
  //     height: 55px;
  //   }
  // }
}