  #channel-logo {
    height: 50px;
    margin: auto;
  }

  #sidebar-pushable {
    //height: 862px; //window.innerHeight=852px
    height: 102vh;//86vh;//////////////////////vh=1% of the viewport's height
    //height: 86vh;//86vh; 86vh=733px
    //overflow-y:hidden;   //default overflow: hidden auto (x y)
  }

  #star {
    padding: 25px;

    .star-icon {
      height: 25px;
      padding: 0;
      margin: auto;
    }
  }

  #sidebar-style {
    box-shadow: 1px 0 11px 1px black;
    overflow: hidden !important;
    padding-top: 0;
    min-height: 886.5px;
    width: 3rem; //////////////

    #opaque {
      z-index: -1;
      height: 65px;
    }

    .menu-item {
      height: 8.0166vh; //8.0166vh=80px
      min-height: 80px;
    }
  }

  .pusher {
    max-height: 770px;
    padding-top: 0;
  }

  // @media all and (max-width: 320px) {//when the browser's width is 320px wide or less

  //   #star {
  //     padding: 25px;

  //     .star-icon {
  //       height: 7px;
  //       padding: 0;
  //       margin: auto;
  //     }
  //   }

  //   .pusher {
  //     max-height: 44px;
  //     max-height: 44px;
  //     padding-top: 0;
  //   }

  //   #sidebar-style {
  //     .menu-item {
  //       height: 14.5vh;
  //     }

  //     #opaque {
  //       z-index: -1;
  //       height: 55px;
  //     }
  //   }

  //   #channel-logo {
  //     height: 47px;
  //     margin: auto;
  //   }

  //   #sidebar-pushable {
  //     height: 420px;
  //   }
  // }

  // @media all and (max-width: 420px) {//when the browser's width is 420px wide or less
  //   #sidebar-pushable {
  //     height: 84vh;
  //   }
  // }